body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container{
    background-color: #fff;
    border-radius: 7px;
    border: 1px solid #809bf3;
    padding: 22px;
    margin: 20px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
}
 h1{
    color: aqua;
    font-size: 30px;
}

 .current{
    background-color: #fff;
    border-radius: 7px;
    border: 1px solid #809bf3;
    padding: 22px;
}

.current .p{
    font-size: 16px;
    color: rgb(42, 19, 43);
}

 img{
    width: 200px;
    height: auto;
 }
 
a{
    color: rgba(235, 105, 150);
}
